# Core Libraries
jupyter
numpy
pandas
matplotlib
importlib-metadata
statsmodels
lxml
pickleshare
Pillow
prompt-toolkit

# Standart Libraries
scikit-learn
scikit-surprise
seaborn
scipy
spacy
gensim

typing-extensions
xgboost
torch
tensorflow

# Extra Libraries to learn
pyxlsb
plotly # to install for conda may be
mapbox
